* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sp-black: #000000;
    --sp-icons: #a3a3a3;
    --sp-main: #141922;
    --sp-bottom: #282828;
    --sp-main-bar: #5a5a5a;
    --sp-bar: #c1c1c1;
    --sp-undeline: #adff2f;
    --sp-white: #ffffff;

}

body {
    height: 100vh;
    overflow: hidden;
    font-family: "Lato", sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--sp-black);
}

::-webkit-scrollbar-thumb {
    background: var(--sp-bottom);
    border-radius: 200px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--sp-main);
}

img {
    max-width: 100%;
}

.conteiner {
    width: 80%;
}

.conteiner-bottom {
    width: 100%;
    padding: 1.5rem;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    width: calc((100% / 12) * 2);
}

/* #region debug */

.debug .bottom {
    background-color: rgb(53, 53, 53);
}

.debug .top {
    background-color: lightcyan;
}

.debug .sidebar {
    background-color: bisque;
}

.debug .upgrade {
    background-color: aquamarine;
}

.debug .typology {
    height: 10px;
    background-color: red;
}

.debug .col-2,
.debug .col-md-3 {
    background-color: palevioletred;
    border: 1px dashed;
    height: 30px;
}

.debug .conteiner {
    width: 70%;
    background-color: purple;
    border: 2px solid black;
}

.debug .profilo {
    height: 100%;
    background-color: red;
}

.debug .infoalbum,
.debug .play,
.debug .volume {
    width: 25%;
    background-color: palegreen;
    height: 30px;
    border: 1px dashed;
}

/* #endregion debug */

/* #region sidebar */
.logo {
    padding: .6rem;
}

.sidebar {
    background-color: var(--sp-black);
    width: 180px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    li {
        width: 100%;
        padding: .2rem 1rem;
        opacity: 0.5;

        a {
            display: flex;
            max-width: 100%;
            text-decoration: none;
            color: var(--sp-icons);

            img {
                max-width: 20%;
                display: inline-block;
            }

            span {
                color: var(--sp-icons);
                padding: .4rem;
                font-size: .7rem;
                font-weight: 600;
            }
        }
    }


    li:hover {
        border-left: 5px solid lime;
        opacity: 1;

        span {
            color: var(--sp-white);
            font-weight: 800;
        }
    }
}

.sidebar {
    h3 {
        padding: 1rem 1rem .5rem;
        color: var(--sp-white);
    }
}

.your-playlist {
    height: 100%;
    margin: .5rem 1rem;

    li {
        width: 100%;
        font-size: .8em;
        margin: .4rem 0;
        color: var(--sp-icons);

        a {
            display: flex;
            max-width: 100%;
            text-decoration: none;
            color: var(--sp-icons);

            i {
                font-size: 2rem;
            }
        }

        span {
            padding: .4rem;
            font-size: .7rem;
            font-weight: 600;
        }
    }

    li:hover {
        color: var(--sp-white);

        a {
            color: white;
        }
    }
}

.profilo {
    width: 100%;
}

.download,
.account {
    padding: 0 1rem;

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--sp-white);
        img {
            width: 15px;
            height: 15px;
            display: inline-block;
        }

        span {
            padding: .4rem;
            font-size: .7rem;
            font-weight: 500;
        }
    }
}
.download{
    a{
        opacity: .5;
    }
}

.download:hover {
    a {
        opacity: 1;
    }
}

.download {
    a {
        border-bottom: 1px solid grey;
    }
}

.account {
    a {
        display: flex;
        align-items: center;
        padding: .2rem 0;

        img {
            width: 20px;
            height: 20px;
            background-color: var(--sp-icons);
            border-radius: 50%;
            display: inline-block;
        }

        span {
            padding: .4rem;
            font-size: .7rem;
            font-weight: 800;
            color: var(--sp-white);
        }
    }
}

/* #endregion sidebar */

/* #region utilities */
.d-flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.d-none {
    display: none;
}

.py-2 {
    padding: 1rem 0;
}

.my-2 {
    margin: 1rem 0;
}

.unstyled-list {
    list-style: none;
}

.justify-content-btw {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

/* #endregion utilities */

.bottom {
    background-color: var(--sp-bottom);
    height: 90px;
}


.top {
    height: calc(100% - 90px);
    display: flex;
    flex-wrap: wrap;
}


.upgrade {
    background-color: var(--sp-black);
    opacity: 0.5;
    width: 100%;
    height: 90px;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn {
    border: 1px solid var(--sp-white);
    border-radius: 200px;
    padding: .5rem 1.5rem;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: .8rem;

    a {
        color: var(--sp-white);
        text-decoration: none;
    }
}

.btn:hover {
    color: var(--sp-white);
    font-size: 1rem;


}

.app-main {
    background-color: var(--sp-main);
    width: calc(100% - 180px);
    height: 100%;
    overflow-y: scroll;

}

.typology {
    width: 70%;
    margin: auto;
    padding: 1rem 0 1rem;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;

        li {
            color: var(--sp-icons);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-transform: uppercase;
            font-size: .8rem;
            font-weight: 500;

            .underline {
                height: 2px;
                background-color: var(--sp-undeline);
                width: 30px;
                margin: .2rem;
            }

        }

        li:hover {
            color: var(--sp-white);
        }
    }
}

.playlist {

    h2,
    h3 {
        color: var(--sp-white);
        padding: 1rem 1rem .5rem;

    }

    h4 {
        color: var(--sp-icons);
        padding: 0 1rem .5rem;
        font-size: .8rem;
    }

    h6 {
        color: var(--sp-icons);
        text-align: center;
    }

    .card {
        position: relative;
        padding: 1rem;

        h2,
        h3 {
            text-align: center;
            font-size: .8rem;
        }
    }
}

.cover {
    background-color: var(--sp-black);
    width: calc(100% - 2rem);
    aspect-ratio: 1;
    position: absolute;
    top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .7;
    display: none;

    i {
        color: var(--sp-white);
        font-size: 3.5rem;
    }

}

.card:hover {
    .cover {
        display: flex;
    }
}

.round {
    border-radius: 50%;
}

.infoalbum {
    width: 20%;

    .icons {
        a{
            color: var(--sp-icons);
            
        }
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        i:hover {
            color: var(--sp-white);
        }
    }

}

.player-album {
    display: flex;
    flex-grow: 1;
    gap: .5rem;

    img {
        width: 20%;
    }

    .icons:hover {
        color: var(--sp-white);
    }
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h5 {
        font-weight: bold;
        color: var(--sp-white);
    }

    h6 {
        color: var(--sp-icons);
    }

    h6:hover {
        color: var(--sp-white);
    }
}


.play {
    width: 35%;
}

.console {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 0.2rem 0.5rem;

    i {
        padding: 0 .5rem;
        font-size: 1.2rem;
        color: var(--sp-white);
    }

    i:nth-child(3):hover {
        font-size: 1.8rem;
    }
}

.timing {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        padding: 0 1rem;
        font-size: .8rem;
        font-weight: 600;
        color: var(--sp-white);
    }

    .timing-bar {
        background-color: var(--sp-main-bar);
        width: 80%;
        height: 4px;
        border-radius: 200px;

        .bar {
            width: 10%;
            height: 4px;
            background-color: var(--sp-bar);
            border-radius: 200px;
            text-align: end;
            display: flex;
            align-items: center;
            justify-content: end;

            .cursor {
                height: 10px;
                width: 10px;
                background-color: var(--sp-white);
                border-radius: 50%;
            }

        }
    }
}

.timing-bar:hover,
.volume-bar:hover {
    .bar {
        background-color: var(--sp-undeline);

        .cursor {
            display: block;
        }
    }
}

.volume {
    width: 20%;
    justify-content: space-around;

    .icons {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .8rem;
        a{
            color: var(--sp-icons);
        }
        i:hover {
            color: var(--sp-white);
        }
    }
}

.volume-bar {
    height: 4px;
    background-color: var(--sp-main-bar);
    width: 50%;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    border-radius: 200px;

    .bar {
        height: 4px;
        background-color: var(--sp-bar);
        border-radius: 200px;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: end;

        .cursor {
            height: 10px;
            width: 10px;
            background-color: var(--sp-white);
            border-radius: 50%;
        }
    }
}

@media screen and (max-width:700px) {
    .col-md-3 {
        width: calc(100% / 12 * 3);
    }

    .col-md-2 {
        width: calc(100% / 12 * 2);
    }

    .typology {
        width: 100%;

        ul {
            gap: 1rem;
            flex-wrap: wrap;

            li {
                font-size: .6rem;
            }
        }

    }

    .infoalbum {
        width: 25%;

        .icons {
            gap: 1rem;
        }
    }

    .volume {
        width: 25%;

        .icons {
            width: 30%;
            gap: .5rem;
        }
    }

    .volume-bar {
        height: 6px;

        .bar {
            height: 6px;

            .cursor {
                height: 12px;
                width: 12px;
            }
        }
    }

    .play {
        width: 40%;
    }

    .timing {
        .timing-bar {
            .bar {
                height: 6px;

                .cursor {
                    height: 12px;
                    width: 12px;
                }
            }
        }
    }
}

@media screen and (max-width:600px) {
    .col-s-6 {
        width: 50%;
    }

    .col-s-4 {
        width: calc(100% / 12 * 3);
    }

    .conteiner-bottom {
        padding: 1rem .5rem;
    }

    .typology {
        width: 100%;

        ul {
            gap: 1rem;
            flex-wrap: wrap;

            li {
                font-size: .6rem;
            }
        }

    }

    .infoalbum {
        width: 25%;

        .icons {
            flex-direction: column;
            gap: .5rem;
        }
    }

    .download,
    .account {
        padding: 0 .5rem;
    }


}

@media screen and (max-width:500px) {
    .sidebar {
        width: 50px;
    }

    .col-xs-2 {
        width: calc(100% / 12 * 2);
    }

    .d-xs-none {
        display: none;
    }

    .d-xs-block {
        display: block;
    }

    .app-main {
        width: calc(100% - 50px);
        height: 100%;
        overflow-y: scroll;
    }

    .menu {
        margin: 1rem 0;

        li {
            width: 100%;
            padding: .2rem 1rem;

            a {
                display: flex;
                max-width: 100%;
                text-decoration: none;

                img {
                    width: 50px;
                    max-width: 100%;
                    display: inline-block;
                }

                span {
                    padding: .4rem;
                    font-size: .7rem;
                    font-weight: 600;
                }
            }
        }

        li:hover {
            border-left: 5px solid lime;
        }
    }

    .d-xs-none {
        display: none;
    }

    .conteiner-xs {
        width: 100%;
    }

    .profilo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .playlist {

        h2,
        h3 {
            color: var(--sp-white);
            padding: .5rem .5rem .25rem;

        }

        h4 {
            color: var(--sp-icons);
            padding: 0 .5rem .5rem;
            font-size: .8rem;
        }

        h6 {
            color: var(--sp-icons);
            text-align: center;
        }

        .card {
            padding: .5rem;
        }
    }

    .download,
    .account {
        padding: .4rem;
    }

    .download {
        a {
            border-bottom: none;
        }
    }

    .play {
        .console {
            i {
                font-size: .8rem;
                padding: .2rem;
            }
        }
    }

    .volume {
        width: 30%;
        padding: 0 0;

        .icons {
            i {
                font-size: .8rem;
            }
        }
    }

    .typology {
        width: 100%;

        ul {
            gap: .5rem;
            flex-wrap: wrap;

            li {
                font-size: .8rem;
            }
        }

    }
}

@media screen and (max-width:375px) {
    .sidebar {
        width: 50px;
    }

    .col-xxs-2 {
        width: calc(100% / 12 * 2);
    }

    .col-xxs-5 {
        width: calc(100% / 12 * 5);
    }

    .col-xxs-12 {
        width: calc(100% / 12 * 12);
    }

    .d-xxs-none {
        display: none;
    }

    .d-xxs-block {
        display: block;
    }

    .app-main {
        width: calc(100% - 50px);
        height: 100%;
        overflow-y: scroll;

    }

    .menu {
        margin: 1rem 0;

        li {
            width: 100%;
            padding: .2rem 1rem;

            a {
                display: flex;
                max-width: 100%;
                text-decoration: none;

                img {
                    width: 50px;
                    max-width: 100%;
                    display: inline-block;
                }

                span {
                    padding: .4rem;
                    font-size: .7rem;
                    font-weight: 600;
                }
            }
        }

        li:hover {
            border-left: 5px solid lime;
        }
    }

    .d-xxs-none {
        display: none;
    }

    .conteiner-xxs {
        width: 100%;
    }

    .profilo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .playlist {

        h2,
        h3 {
            color: var(--sp-white);
            padding: .5rem .5rem .25rem;

        }


        h4 {
            color: var(--sp-icons);
            padding: 0 .5rem .5rem;
            font-size: .8rem;
        }

        h6 {
            color: var(--sp-icons);
            text-align: center;
        }

        .card {
            padding: .5rem;

            h3 {
                font-size: 1.5rem
            }
        }
    }

    .download,
    .account {
        padding: .4rem;
    }

    .download {
        a {
            border-bottom: none;
        }
    }

    .play {
        .console {
            i {
                font-size: .8rem;
                padding: .2rem;
            }
        }
    }

    .volume {
        width: 30%;
        padding: 0 0;

        .icons {
            i {
                font-size: .8rem;
            }
        }
    }

    .typology {
        width: 100%;

        ul {
            gap: 1rem;
            flex-wrap: wrap;

            li {
                font-size: .5rem;
            }
        }
    }

    .timing {
        display: flex;
        align-items: center;
        justify-content: center;

        .timing-bar {
            height: 8px;

            .bar {
                width: 10%;
                height: 8px;

                .cursor {
                    height: 14px;
                    width: 14px;

                }
            }
        }
    }

    .play {
        .console {
            padding-bottom: .5rem;

            i {
                font-size: 1.2rem;
                padding: .8rem;
            }
        }
    }

    i:nth-child(3):hover {
        font-size: 1.8rem;
    }

    .cover {
        top: .5rem;
        width: calc(100% - 1rem);
    }
}