* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: "Lato", sans-serif;
}

img {
    max-width: 100%;
}

.conteiner {
    width: 70%;
}
.conteiner-bottom {
    width: 100%;
    padding: 1.5rem;
    background-color: blue;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    width: calc((100% / 12) * 2);
}

/* #region debug */

.debug .bottom {
    background-color: rgb(53, 53, 53);
}

.debug .top {
    background-color: lightcyan;
}

.debug .sidebar {
    background-color: bisque;
}

.debug .upgrade {
    background-color: aquamarine;
}

.debug .typology {
    height: 10px;
    background-color: red;
}

.debug .col-2,
.debug .col-md-3 {
    background-color: palevioletred;
    border: 1px dashed;
    height: 30px;
}
.debug .conteiner {
    width: 70%;
    background-color: purple;
    border: 2px solid black;
}

.debug .profilo {
    height: 100%;
    background-color: red;
}

.debug .infoalbum,
.debug .play,
.debug .volume {
    width: 25%;
    background-color: palegreen;
    height: 30px;
    border: 1px dashed;
}

/* #endregion debug */

/* #region sidebar */
.logo {
    padding: .6rem;
}

.sidebar {
    width: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    li {
        width: 100%;
        padding: .2rem 1rem;

        a {
            display: flex;
            max-width: 100%;
            text-decoration: none;

            img {
                max-width: 20%;
                display: inline-block;
            }

            span {
                padding: .4rem;
                font-size: .7rem;
                font-weight: 600;
            }
        }
    }

    li:hover {
        border-left: 5px solid lime;
    }
}

.sidebar {
    h3 {
        padding: 1rem 1rem .5rem;
    }
}

.your-playlist {
    height: 100%;
    margin: .5rem 1rem;

    li {
        width: 100%;
        /* padding: .2rem 1rem; */
        font-size: .8em;
        margin: .4rem 0;

        a {
            display: flex;
            max-width: 100%;
            text-decoration: none;

            i {
                font-size: 2rem;
            }
        }

        span {
            padding: .4rem;
            font-size: .7rem;
            font-weight: 600;
        }
    }
}

.profilo {
    width: 100%;



}

.download,
.account {
    background-color: lime;
    padding: 0 1rem;

    a {
        display: flex;
        align-items: center;
        text-decoration: none;

        img {
            width: 15px;
            height: 15px;
            display: inline-block;
        }

        span {
            padding: .4rem;
            font-size: .7rem;
            font-weight: 500;
        }
    }
}

.download {
    a {
        border-bottom: 1px solid grey;
    }
}

.account {
    a {
        display: flex;
        align-items: center;
        padding: .2rem 0;

        img {
            width: 20px;
            height: 20px;
            background-color: brown;
            border-radius: 50%;
            display: inline-block;
        }

        span {
            padding: .4rem;
            font-size: .7rem;
            font-weight: 800;
        }
    }
}

/* #endregion sidebar */

/* #region utilities */
.d-flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}
.align-items-center{
    align-items: center;
}
.d-none {
    display: none;
}

.py-2 {
    padding: 1rem 0;
}
.my-2{
    margin: 1rem 0;
}

.unstyled-list {
    list-style: none;
}

.justify-content-btw {
    justify-content: space-between;
}

/* #endregion utilities */

.bottom {
    height: 90px;
}


.top {
    height: calc(100% - 90px);
    display: flex;
    flex-wrap: wrap;


}


.upgrade {
    width: 100%;
    height: 90px;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn {
    background-color: red;
    border-radius: 200px;
    padding: .5rem 1.5rem;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: .8rem;
}

.app-main {
    width: calc(100% - 230px);
    height: 100%;
    overflow-y: scroll;

}

.typology {
    width: 70%;
    margin: auto;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-transform: uppercase;
            padding: 0 1rem;
            font-size: .75rem;
            font-weight: 500;

            .underline {
                height: 1px;
                background-color: lime;
                width: 30px;
                display: none;
            }

        }

        li:hover {
            .underline {
                display: block;
            }
        }
    }
}
.infoalbum{
    width: 20%;
}
.player-album {
    width: 60%;
    display: flex;
    flex-grow: 1;
    gap: .5rem;
    img{
        width: 20%;
    }
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    h5{
        font-weight:bold;
    }
}
.icons{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.play{
    height: 20px;
    background-color: red;
}
.volume{
    height: 20px;
    width: 25%;
    justify-content: space-around;
    .icons{
        width: 50%;
        justify-content: space-between;
    }
}
.volume-bar{
    height: 4px;
    background-color: black;
    width: 50%;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    border-radius: 200px;
    .bar{
        height: 4px;
        background-color: lime;
        border-radius: 200px;
        width: 30%;
    }
}

@media screen and (max-width:700px) {
    .col-md-3 {
        width: calc(100% / 12 * 3);
    }
}

@media screen and (max-width:600px) {
    .col-s-6 {
        width: 50%;
    }
}

@media screen and (max-width:376px) {
    .sidebar {
        width: 50px;
    }

    .d-xs-none {
        display: none;
    }

    .d-xs-block {
        display: block;
    }

    .conteiner-xs {
        width: 100%;
    }

    .app-main {
        width: calc(100% - 50px);
        height: 100%;
        overflow-y: scroll;

    }

    .menu {
        margin: 1rem 0;

        li {
            width: 100%;
            padding: .2rem 1rem;

            a {
                display: flex;
                max-width: 100%;
                text-decoration: none;

                img {
                    width: 50px;
                    max-width: 100%;
                    display: inline-block;
                }

                span {
                    padding: .4rem;
                    font-size: .7rem;
                    font-weight: 600;
                }
            }
        }

        li:hover {
            border-left: 5px solid lime;
        }
    }

}